<div class="contrainer">

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">

              <div class="col-md-9 col-xs-12">


                      <h4 class='inline-header'>Post:</h4>

                      <div ng-repeat="post in postCtrl.posts">
                        <div class="col-md-3 col-xs-12 thumbnail">
                            {{post.postTitle}}
                            <br>
                            {{post.postBody}}
                            <br>
                            {{post.postDate}}
                        </div>
                      </div>
                        <!-- end of repeat -->

              </div>
            </div>


            </div>
        </div>
    </div>
